<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1>What is your trip destination?</h1>
      </div>
      <div id="destination_info">
        <div class="holder city">
          <label for="city">City:</label>
          <input type="text" id="city" placeholder="enter city's name" />
        </div>
        <div class="holder date">
          <label for="date">Date:</label>
          <input type="date" id="date" placeholder="enter date of your trip" />
        </div>
      </div>
      <div>
        <button id="generate" type="submit">Generate</button>
      </div>

      <div class="holder entry">
        <div class="title"></div>
        <div id="entryHolder">
          <div>
            <img
              id="destination_img"
              src="../media/map_of_the_world.jpg"
              alt="destination"
            />
          </div>
          <div id="description">
            <div id="days_left"></div>
            <div id="country"></div>
            <div id="population"></div>
            <div id="weather"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
