<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1>What is your trip destination?</h1>
      </div>
      <div id="destination_info">
        <div class="holder city">
          <label for="city">City:</label>
          <input type="text" id="city" placeholder="enter city's name" />
        </div>
        <div class="holder date">
          <label for="date">Date:</label>
          <input type="date" id="date" placeholder="enter date of your trip" />
        </div>
      </div>
      <div class="holder feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea
          class="myInput"
          id="feelings"
          placeholder="Enter your feelings here"
          rows="9"
          cols="50"
        ></textarea>
        <div>
          <button id="generate" type="submit">Generate</button>
        </div>
      </div>
      <div class="holder entry">
        <div class="title"></div>
        <div id="entryHolder">
          <div id="city"></div>
          <div id="date"></div>
          <div id="temp"></div>
          <div id="weather"></div>
          <div id="content"></div>
        </div>
      </div>
    </div>
  </body>
</html>
