<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta ="viewport" content="width=device-width, initial-scale=1" />
    <title>Travel App</title>
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1>What is your trip destination?</h1>
      </div>
      <div id="destination_info">
        <div class="holder city">
          <label for="city">City:</label>
          <input type="text" id="city" placeholder="enter city's name" />
        </div>
        <div class="holder date">
          <label for="date">Date:</label>
          <input type="date" id="date" placeholder="enter date of your trip" />
        </div>
      </div>
      <div>
        <button id="generate" type="submit">Generate</button>
      </div>

      <div class="holder entry">
        <div class="title"></div>
        <div id="entryHolder">
          <div>
            <img id="destination_img" alt="destination" />
          </div>
          <div id="description">
            <div id="days_left"></div>
            <div id="country"></div>
            <div id="population"></div>
            <div id="current_weather" class="weather_descr">
              <div id="weather_now"></div>
              <img id="weather_ico" />
              <div id="current_weather_disc"></div>
              <div class="temp" id="current_temp"></div>
            </div>
            <div id="weather_forecast"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
