%blue-shape {
  border-radius: 12px;
  background: #3b4a6b;
}

$darkgrey-color: #505050;
$weather-background-color: #ffffff1a;
$primary-text-color: #eec5aa;

body {
  background-image: url(../media/background.jpg);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  height: 85vh;
  color: $primary-text-color;
  justify-content: center;
  font-size: 20px;
  font-family: sans-serif, "Oswald";
  border-radius: 12px;
}

.holder {
  padding: 1vw;
}

.entry {
  text-align: center;
  min-height: 100px;
  background: #3b4a6bb0;
  margin: 30px 0;
}

#temp {
  font-size: 30px;
}

#content {
  margin-top: 10px;
  font-size: 80%;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  /*font-size: 100%;*/
}

input {
  /*display: block;*/
  height: 60px;
  width: 220px;
  background: #ffffff7c;
  color: $darkgrey-color;
  font-size: 20px;
  /*font-family: sans-serif, "Oswald";*/
  border: none;
}

button {
  @extend %blue-shape;
  width: 200px;
  height: 50px;
  color: $primary-text-color;
  font-size: 26px;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

h1 {
  padding-top: 10px;
  font-size: 30px;
}

textarea {
  background: #ffffff7c;
  color: $darkgrey-color;
  font-size: 20px;
  max-width: 300px;
  height: 100px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#destination_img {
  content: url(../media/map_of_the_world.jpg);
  /*max-width: 300px;*/
}
/* Set border radius for alements */

#description {
  margin: 10px;
  font-size: 130%;
}

#current_weather {
  margin-left: auto;
  margin-right: auto;
}

#weather_forecast {
  text-align: center;
}

.weather_descr {
  font-size: 80%;
}

.temp {
  font-size: 150%;
}

#current_weather {
  width: 200px;
}
.weather_descr {
  margin: 2px;
  background-color: $weather-background-color;
  padding: 10px;
  border-radius: 12px;
  width: 150px;
}

#destination_img {
  max-width: 500px;
  height: auto;
}

.weather_day_icon {
  block-size: 3em;
}

@media (min-width: 1100px) {
  #entryHolder,
  #weather_forecast {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 36px;
  }

  #entryHolder {
    display: flex;
    flex-direction: row;
  }

  #weather_forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 970px) {
  #app {
    font-size: 95%;
    margin-top: 30px;
  }
  .weather_descr {
    width: 130px;
  }
}
@media (max-width: 1100px) {
  #destination_img {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 400px) {
  #destination_img {
    max-width: 300px;
    height: auto;
  }
}
@media (min-width: 300px) {
  %display-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #destination_info {
    @extend %display-flex-row-center;
  }
  #weather_forecast {
    @extend %display-flex-row-center;
  }
}
/* Style for Placeholder Text*/
::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}
::-moz-placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}
:-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}
::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}
::placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
  font-family: sans-serif, "Oswald";
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
  font-family: sans-serif, "Oswald";
}
