body {
  background-image: url(img/background.jpg);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  height: 85vh;
  background: #53060671;
  color: #570707;
  justify-content: center;
  font-size: 20px;
  font-family: sans-serif, "Oswald";
  border-radius: 12px;
}

.holder {
  padding: 1vw;
}

.entry {
  text-align: center;
  min-height: 100px;
  margin: 20px 70px;
  border-radius: 12px;
  background: #3b4a6bb0;
}

#temp {
  font-size: 30px;
}

#content {
  margin-top: 10px;
  font-size: 80%;
}

.headline {
  padding-top: 0;
}

#zip {
  height: 50px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  /*font-size: 100%;*/
}

input {
  /*display: block;*/
  height: 60px;
  width: 220px;
  background: #ffffff7c;
  color: grey;
  font-size: 20px;
  /*font-family: sans-serif, "Oswald";*/
  border: none;
}

button {
  width: 200px;
  height: 50px;
  background: #3b4a6b;
  color: #eec5aa;
  font-size: 26px;
  /*font-family: sans-serif, "Oswald";*/
  border: none;
  box-shadow: 2px 4px 5px #444;
}

h1 {
  padding-top: 10px;
  font-size: 30px;
}

textarea {
  background: #ffffff7c;
  color: grey;
  font-size: 20px;
  max-width: 300px;
  height: 100px;
  /*font-family: sans-serif, "Oswald";*/
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Set border radius for alements */
button,
#zip,
.entry,
.myInput {
  border-radius: 12px;
}

@media (min-width: 800px) {
  #app {
    width: 400px;
  }

  h1 {
    font-size: 36px;
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  #app {
    width: 350px;
  }
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: grey;
  font-family: sans-serif, "Oswald";
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
  font-family: sans-serif, "Oswald";
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
  font-family: sans-serif, "Oswald";
}
